body {
    background-image: url('https://thumbs.dreamstime.com/b/fundo-verde-claro-do-papel-ou-da-caixa-105542934.jpg');
    background-size: auto 100vh;
    font-family: verdana;
    height: 100vh;
  }
  .menu {
    background-color: lightslategray;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  .menu li {
    list-style: none;
  }
  a {
    color: snow;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .title {
    color: darkblue;
    text-align: center
  }